body{
    margin: 5px;
    background: #332C39;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flag{
    height: 200px;
    width: 300px;
    border: solid 1px #000000;
}

.ukraine{
    background: linear-gradient(to bottom, #0057B7 50%, #FFDD00 50%);
}

/*red BC002D*/
.japan{
    background: #ffffff;
}

.circle{
    height: 120px;
    width: 120px;
    background-color: #BC002D;
    border-radius: 50%;
}