.panel{
    background-color: #222a36;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.inputField{
    border: none;
    border-radius: 20px;
    padding: 15px;
    height: 30px;
    font-size: 24px;
    color: white;
    background-color: var(--secondary);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.inputField:hover{
    box-shadow: 0 5px 10px 0 rgba(245, 146, 69, 0.05);
}

.sendButton{
    height: 60px;
    width: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--primary);
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.sendButton:hover{
    background: white;
    color: var(--primary);
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.25);
}

.resetButton{
    height: 60px;
    width: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--secondary-additional);
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.resetButton:hover{
    background: var(--error);
    color: white;
    box-shadow: 0 5px 10px 0 rgba(201, 44, 109, 0.25);
}

.table{
    background-color: #222a36;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.counter{
    margin-bottom: 20px;
}